.nano-app {
  .gallery {
    .container {
      max-width: 100%;
    }
  }
}

.nano-table {
  text-align: left;
  border-spacing: 0 0.5rem;
  width: 100%;
  td {
    padding: 0.5rem 1rem;
  }
  th {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 14px;
    padding: 0.25rem 1rem;
  }
  tbody {
    tr {
      &:nth-child(odd) {
        background-color: hsla(0, 0%, 50.2%, 0.2);
      }
      &:nth-child(even) {
        background-color: hsla(0, 0%, 50.2%, 0.4);
      }
    }
  }
}

@import "~mr-kernel/scss/react";
