@font-face {
  font-family: "icomoon";
  src: url("~nano-grid/portfolio/fonts/icomoon.eot?xgiqmc");
  src: url("~nano-grid/portfolio/fonts/icomoon.eot?xgiqmc#iefix") format("embedded-opentype"),
    url("~nano-grid/portfolio/fonts/icomoon.ttf?xgiqmc") format("truetype"), url("~nano-grid/portfolio/fonts/icomoon.woff?xgiqmc") format("woff"),
    url("~nano-grid/portfolio/fonts/icomoon.svg?xgiqmc#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@import "~nano-grid/portfolio/react";