// ------------------ Fonts
@import "~@fontsource/montserrat/100.css";
@import "~@fontsource/montserrat/400.css";
@import "~@fontsource/montserrat/600.css";
@import "~@mdi/font/css/materialdesignicons.min.css";

// ------------------ Modules
@import "~nano-grid/scss/nano-grid";
@import "~nano-grid/scss/btn";
// @import "~nano-grid/scss/scroll-area";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

//---------------------------------------

$size: 1;
$depth: 14px * $size;

.perspective {
	perspective: 2000px;
  display: inline-block;

  &.sm > img { width: 120px; }
  &.lg > img { width: 200px; }

  > img {
    background-color: #444;
    background-size: 100%;
    background-repeat: no-repeat;
    transform: rotateX(45deg) rotateY(0deg) rotateZ(-45deg) translateX(24px) translateY(24px);
    position: relative;
    transform-style: preserve-3d;
    filter: drop-shadow(-3px 3px 2px rgba(132, 132, 132, 0.49));
  
    &:before,
    &:after {
      content: "";
      display: block;
      position: absolute;
    }
  
    &:before {
      height: 100%;
      width: $depth;
      top: 0;
      left: -$depth;
      transform-origin: 100% 0;
      transform: rotateY(-90deg);
      background-size: 200px * $size;
      background-image: inherit;
      background-color: #eee;
      opacity: .4;
    }
  
    &:after {
      background-color: #bbb;
      height: $depth;
      width: 100%;
      bottom: -$depth;
      left: 0;
      transform-origin: 0 0;
      transform: rotateX(-90deg);
      //background-position-y: $height * $size;
    }
  }
}
