// ------------------ Fonts
@import "~@fontsource/montserrat/200.css";
@import "~@fontsource/montserrat/400.css";
@import "~@fontsource/montserrat/600.css";
@import "~@mdi/font/css/materialdesignicons.min.css";

// ------------------ Modules
@import "~nano-grid/scss/nano-grid";
@import "~nano-grid/scss/btn";
// @import "~nano-grid/scss/scroll-area";

* {
  box-sizing: border-box;
}

html,
body {
  background-color: #282828;
  color: #FFFFFF;
}

body {
  margin: 0;
  font-family: 'Montserrat', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

//---------------------------------------------

h1, h2, h3, h4, h5, h6, p, li {
  margin: 0 0 0.5rem;
  line-height: 1;
  text-transform: uppercase;
}

header {
  text-align: center;

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 83px;
    background: url('../../img/fold_grey.png');
  }

  h1 {
    color: #FF4DA2;
    font-weight: 200;
    font-size: 58px;
  }

  h2 {
    font-weight: 400;
    font-size: 18px;
  }

  .container {
    margin: 250px auto;
  }
}

.container {
  margin: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

.nano-row {
  align-items: normal;

  .column {
    height: 500px;
    padding: 1rem;

    @media (max-width: 1024px) {
      flex-basis: 100% !important;
      max-width: 100% !important;
    }
  }
}

article {
  padding: 2rem;
  box-shadow: 1px 1px 7px rgb(0 0 0 / 45%);
  height: 100%;
  position: relative;
  overflow: hidden;
  
  &,
  .bk {
    transition: all 200ms ease;
  }

  &:hover {
    background-color: #152042;
    box-shadow: 1px 1px 7px rgb(0 0 0 / 80%);
    .bk {
      color: #2c3550 !important;
    }
  }

  .content {
    position: relative;
    z-index: 1;
  }

  .bk {
    position: absolute;
    top: 200px;
    right: -30px;
    font-size: 642px;
    line-height: 0;
    z-index: 0;
    color: #2d3c30;
    text-shadow: 2px 2px 2px hsl(0deg 0% 0% / 33%);
    font-weight: 600;
    pointer-events: none;

    &.a {color: #3c3c3c;}
    &.m {color: #713b3b;}
    &.v {color: #44321d;}
    &.p {color: #752727;}
    &.o {color: #774215;}
    &.d {color: #233150;}

    &.c {color: #235044;}
    &.i {color: #636b7b;}
    &.r {color: #3d344e;}
  }

  hr {
    border-style: dashed;
    opacity: 0.2;
  }

  h3 {
    font-weight: 600;
    font-size: 25px;
    color:#e69b28;
  }
  h4 {
    font-weight: 400;
    font-size: 18px;
  }
  h5 {
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 2px;
  }

  .btn {
    border-radius: 7px;
    padding: 10px;
  }

  ul.skills {
    list-style: none;
    padding: 0;

    li {
      font-weight: 400;
      font-size: 11px;
      letter-spacing: 3px;
    }
  }

  ul.links {
    list-style: none;
    padding: 0;

    li {
      display: inline-block;
      margin-right: .5rem;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  ul.navigation {
    // list-style: none;
    padding-left: 19px;
    margin: 0 0 1rem;

    li {
      a {
        color: #fff;
        font-size: 12px;
        font-weight: 700;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .docs-gallery {
    text-align: center;
    a {
      display: inline-block;
      margin-right: -60px;
      margin-left: -60px;
      opacity: 0.8;
      transition: all 500ms ease;
      &:hover {
        opacity: 1;
        transform: translateY(-30px);
      }
    }
  }
}